/**********************LAYOUTS.CENTRAL*********************/
div.lt-central-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url('../img/bg-login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/**********************LAYOUTS.ATENDIMENTO*********************/
$width-sidebar-atendimento:300px;
div.lt-atendimento-container{
    position: absolute;
    z-index: 100;
    width: calc(100% - $width-sidebar-atendimento);
    margin-left: $width-sidebar-atendimento;
    height: 100%;
}
